<div class="slideMenu">
  <div class="closeAndDownload">
    <button class="closeButton"><img src="../_possible_photos/close-button.png" alt="close button"></button><!--
    --><button class="downloadButton"><img src="../_possible_photos/download-button.png" alt="download button"></button>
  </div>
</div>