  <div class="slideMenu">
    <h1 class="menuHeader">Dimensions</h1>
    <div class="slidecontainer">
      <div class="slideHeader">
        <h2>length</h2>
        <p class="size" id="length">5'7</p>
      </div>
      <input type="range" min="60" max="84" value="67" class="slider" id="dimSlider">
    </div>
    <div class="slidecontainer">
      <div class="slideHeader">
        <h2>width</h2>
        <p class="size" id="width">20"3/4</p>
      </div>
      <input type="range" min="10" max="100" value="50" class="slider" id="widthSlider">
    </div>
    <div class="slidecontainer">
      <div class="slideHeader">
        <h2>thickness</h2>
        <p class="size">2"1/2</p>
      </div>
      <input type="range" min="1" max="100" value="50" class="slider" id="thicknessSlider">
    </div>
    <div class="closeAndDownload">
      <button class="closeButton"><img src="../_possible_photos/close-button.png" alt="close button"></button><!--
      --><button class="downloadButton"><img src="../_possible_photos/download-button.png" alt="download button"></button>
    </div>
  </div>