
      <footer>
      <div class="fnavbar">
        <img class="logo2" src="/photos/flyinRabbit.png">
        <a href="/contact-us">Contact Us</a>
        <a href="/meet-the-team">Meet The Team</a>
        <a href="/my-boards">My Boards</a>

      </div>
    </footer>
