
    <header>

      <div class="topnav" id="myTopnav">
        <a href="/" class="right-anch active">Home</a>
        <a href="/meet-the-team" class="right-anch">About</a>
        <a href="/my-boards" class="right-anch">My Boards</a>
        <a href="/board-builder" class="right-anch">Build a BUNI</a>
        <a href="javascript:void(0);" class="right-anch icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <a href="/" id="logo-anchor"><img class="logo" src="/photos/buniLogo.png"></a>



        <!--<a href="https://www.qries.com/">
         <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
         width=150" height="70">
      </a>-->

      </div>
    </header>
