
    <header>

      <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/meet-the-team">About</a>
        <a href="/my-boards">My Boards</a>
        <a href="/board-builder">Build a BUNI</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <img class="logo" src="/photos/buniLogo.png">



        <!--<a href="https://www.qries.com/">
         <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
         width=150" height="70">
      </a>-->

      </div>
    </header>
