
    <header>

      <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/meet-the-team">About</a>
        <a href="/blog">Blog</a>
        <a href="/build-a-buni">Build a BUNI</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <img class="logo" src="./photos/buniLogo.png">
      </div>
    </header>
