<main>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../photos/parker.jpg" alt="Parker" style="width:100%">
      <div class="container">
        <h2>Parker Conrad</h2>
        <p class="title">Co Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../photos/mason2.jpg" alt="Mason" style="width: 100%;">
      <div class="container">
        <h2>Mason Crawford</h2>
        <p class="title">Co Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../photos/alihan.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Alihan Baysal</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../photos/aaron.jpg" alt="Aaron" style="width:100%">
      <div class="container">
        <h2>Aaron Bernard</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../photos/freddy.jpg" alt="Frederick" style="width:100%">
      <div class="container">
        <h2>Frederick Boulton</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../photos/beck.jpg" alt="Beck" style="width:100%">
      <div class="container">
        <h2>Beck Tankersley</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>
</div>
