<main>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/photos/parker.jpg" alt="Parker" style="width:100%">
      <div class="container">
        <h2>Parker Conrad</h2>
        <p class="title">Co Founder / Shaper</p>
        <p>OSU Computer Science major</p>
        <p>@parker_conrad</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/photos/mason2.jpg" alt="Mason" style="width: 100%;">
      <div class="container">
        <h2>Mason Crawford</h2>
        <p class="title">Co Founder / Shaper</p>
        <p>OSU Computer Science major</p>
        <p>@masoncra</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/photos/alihan.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Alihan Baysal</h2>
        <p class="title">Programmer</p>
        <p>OSU Computer Science major</p>
        <p>@alihanbayss</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/photos/aaron.jpg" alt="Aaron" style="width:100%">
      <div class="container">
        <h2>Aaron Bernard</h2>
        <p class="title">Graphic Designer</p>
        <p>Arcitect</p>
        <p>@the_206ness</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/photos/freddy.jpg" alt="Frederick" style="width:100%">
      <div class="container">
        <h2>Frederick Boulton</h2>
        <p class="title">Shaper</p>
        <p>OSU Mechanical Engineering major</p>
        <p>@frederickboulton</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/photos/beck.jpg" alt="Beck" style="width:100%">
      <div class="container">
        <h2>Beck Tankersley</h2>
        <p class="title">Shaper</p>
        <p>OSU Arcitect Engineering major</p>
        <p>@b_e_c_k__</p>
      </div>
    </div>
  </div>
</div>
