<!DOCTYPE html>
<html lang="en">
  {{> boardMeta}}
 <body>
  <div class="customizer" id="custom">
    <h1 id="boardName">Flyin' Rabbit</h1>
    <ul class="propList">
        <li class="properties">
            <a href="#" class="property" id="dims">Dimensions</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="fins">Fins</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="contours">Contours</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="rocker">Rocker</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="colors">Colors</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="finish">Finish</a>
        </li>
    </ul>
    <span class="drag-notice" id="js-drag-notice">Drag to rotate 360&#176;</span>
    <!-- The canvas element is used to draw the 3D scene -->
    <canvas id="boardCanvas"></canvas>
  </div> 

<div class="test">

</div>

<button class="saveBoard"><img src="../_possible_photos/download-button.png" alt="download button"></button>

</body>
</html>