<!DOCTYPE html>
<html lang="en">
  {{> 'boardMeta'}}
<!-- <body>
  <div class="customizer">
    <h1 id="boardName">Flyin' Rabbit</h1>
    <ul class="propList">
        <li class="properties">
            <a href="#" class="property" id="dimensions">Dimensions</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="fins">Fins</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="contours">Contours</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="rocker">Rocker</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="colors">Colors</a>
        </li>
        <li class="properties">
            <a href="#" class="property" id="finish">Finish</a>
        </li>
    </ul>
  </div> -->

  <div class="slideMenu">
    <h1 class="menuHeader">Dimensions</h1>
    <div class="slidecontainer">
      <div class="slideHeader">
        <h2>length</h2>
        <p class="size" id="length">5'7</p>
      </div>
      <input type="range" min="60" max="84" value="67" class="slider" id="dimSlider">
    </div>
    <div class="slidecontainer">
      <div class="slideHeader">
        <h2>width</h2>
        <p class="size" id="width">20"3/4</p>
      </div>
      <input type="range" min="10" max="100" value="50" class="slider" id="widthSlider">
    </div>
    <div class="slidecontainer">
      <div class="slideHeader">
        <h2>thickness</h2>
        <p class="size">2"1/2</p>
      </div>
      <input type="range" min="1" max="100" value="50" class="slider" id="thicknessSlider">
    </div>
    <div class="closeAndDownload">
      <button class="closeButton"><img src="../_possible_photos/close-button.png" alt="close button"></button><!--
      --><button class="downloadButton"><img src="../_possible_photos/download-button.png" alt="download button"></button>
    </div>
  </div>

  <!-- <div class="slideMenu">
    <h1 class="menuHeader">Fins</h1>
    <div class="fin">
      <h2>single fin</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h2>twin fin</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h2>thruster</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h2>quad</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h2>best of both worlds</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div> -->
  <!-- The canvas element is used to draw the 3D scene -->
  <canvas id="boardCanvas"></canvas>
</body>
</html>