<h1 id="boardHeader">pick a board</h1>
<div class="boardContainer">
  <a href="/build-a-buni/flyin-rabbit" class="boardBox">
    <img src="/photos/flyin-rabbit.png" alt="surfboard" id="flyin">
      <h2>flyin' rabbit</h2>
  </a>

  <a href="/build-a-buni/the-gem" class="boardBox">
    <img src="/photos/the-gem.png" alt="surfboard" id="gem">
    <h2>the gem</h2>
  </a>
  <a href="/build-a-buni/rabbits-foot" class="boardBox foot">
    <img src="/photos/rabbits-foot.png" alt="surfboard" id="foot">
    <h2>rabbit's foot</h2>
  </a>
</div>