<div class="slideMenu">
  <h1 class="menuHeader">Colors</h1>
  <div class="dropDownColors">
    <button class="dropButton">Deck Colors <img src="../photos/down-arrow.png" alt="expand arrow"></button>
  </div>
  <div class="dropDownColors">
    <button class="dropButton">Bottom Colors <img src="../photos/down-arrow.png" alt="expand arrow"></button>
  </div>
  <div class="dropDownColors">
    <button class="dropButton">Full Board <img src="../photos/down-arrow.png" alt="expand arrow"></button>
  </div>
  <div class="closeAndDownload">
    <button class="closeButton"><img src="../_possible_photos/close-button.png" alt="close button"></button><!--
    --><button class="downloadButton"><img src="../_possible_photos/download-button.png" alt="download button"></button>
  </div>
</div>