<div class="slideMenu">
  <div class="headAndButton">
    <h1 class="menuHeader">Colors</h1>
    <button class="closeButton"><img src="/photos/close-button.png" alt="close button"></button>
  </div>
  <div class="dropDownColors">
    <button class="dropButton">Deck Colors <img src="/photos/down-arrow.png" alt="expand arrow"></button>
  </div>
  <div class="dropDownColors">
    <button class="dropButton">Bottom Colors <img src="/photos/down-arrow.png" alt="expand arrow"></button>
  </div>
  <div class="dropDownColors">
    <button class="dropButton">Full Board <img src="/photos/down-arrow.png" alt="expand arrow"></button>
  </div>
</div>