<div class="slideMenu">
  <h1 class="menuHeader">Contours</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae. Adipiscing elit ut aliquam purus sit amet. 
    Nisi lacus sed viverra tellus. Id diam vel quam elementum pulvinar etiam non quam lacus.
  </p>
  <div class="closeAndDownload">
    <button class="closeButton"><img src="../_possible_photos/close-button.png" alt="close button"></button><!--
    --><button class="downloadButton"><img src="../_possible_photos/download-button.png" alt="download button"></button>
  </div>
</div>