<div class="slideMenu">
  <div class="headAndButton">
    <h1 class="menuHeader">Contours</h1>
    <button class="closeButton"><img src="/photos/close-button.png" alt="close button"></button>
  </div>
  <div class="contour" id="concaveDiv">
    <div class="headAndCheck">

      <h2>concave</h2>
        <input type="radio" name="contour-setup" id="concave" checked>
    </div>    
    <img src="/photos/concave.png" alt="Concave set up">
    <p>water is channeled through the center of the board</p>
    <p>increase in water flow = increase in lift and thrust</p>
    <p>more speed, less manueverability</p>
    <p>concave = rail grip and security</p>
  </div>
    <div class="contour" id="convexDiv">
    <div class="headAndCheck">
      <h2>convex</h2>
      <input type="radio" name="contour-setup" id="convex">
    </div>    
    <img src="/photos/convex.png" alt="convex set up">
    <p>water is channeled through the sides</p>
    <p>more drag = less speed</p>
    <p>more manueverability</p>
  </div>
    <div class="contour" id="flatDiv">
    <div class="headAndCheck">
      <h2>flat</h2>
        <input type="radio" name="contour-setup" id="flat">
    </div>    
    <img src="/photos/flat.png" alt="flat set up">
      <p>somewhere in between the concave and convex</p>
  </div>
</div>