  <div class="slideMenu">
  <div class="headAndButton">
    <h1 class="Dimensions">Dimensions</h1>
    <button class="closeButton"><img src="/photos/close-button.png" alt="close button"></button>
  </div>
    <div class="slidecontainer">
      <div class="slideHeader">
        <h2>length</h2>
        <p class="size" id="lengthContent"></p>
      </div>
      <input type="range" min="60" max="84" value="67" class="slider" id="dimSlider">
    </div>
    <div class="slidecontainer">
      <div class="slideHeader">
        <h2>width</h2>
        <p class="size" id="widthContent"></p>
      </div>
      <input type="range" min="18" max="23" step="0.25" value="20.5" class="slider" id="widthSlider">
    </div>
    <div class="slidecontainer">
      <div class="slideHeader">
        <h2>thickness</h2>
        <p class="size" id="thicknessContent"></p>
      </div>
      <input type="range" min="2" max="3" step="0.1" value="2.5" class="slider" id="thicknessSlider">
    </div>
  </div> 