<div class="slideMenu">
  <div class="headAndButton">
    <h1 class="menuHeader">Finish</h1>
    <button class="closeButton"><img src="/photos/close-button.png" alt="close button"></button>
  </div>
  <div class="finish">
    <div class="headAndCheck">
      <h2>standard</h2>
      <input type="radio" name="finish" id="standard" checked>
    </div>    
    <p>just how it is. like kahuna intended</p>
  </div>
  <div class="finish">
    <div class="headAndCheck">
      <h2>polish</h2>
      <input type="radio" name="finish" id="polish">
    </div>    
    <p>all glossed, buffed and shabanged with love!</p>
  </div>
</div>