  <div class="slideMenu">
    <h1 class="menuHeader">Fins</h1>
    <div class="fin">
     <h2>twin fin</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h2>quad</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="closeAndDownload">
      <button class="closeButton"><img src="../_possible_photos/close-button.png" alt="close button"></button><!--
      --><button class="downloadButton"><img src="../_possible_photos/download-button.png" alt="download button"></button>
    </div>
   </div>
  </div>
