<div class="slideMenu">
  <div class="headAndButton">
    <h1 class="menuHeader">Fins</h1>
    <button class="closeButton"><img src="../_possible_photos/close-button.png" alt="close button"></button>
  </div>
  <div class="fin">
    <h2>twin fin</h2>
    <img src="../photos/twin-fin.png" alt="Twin Fin set up">
    <p>two large foiled side fins compensate for shorter rail length = more board engagement</p>
    <p>less drag through center of board since center fin is gone = faster</p>
  </div>
  <div class="fin">
    <h2>quad</h2>
    <img src="../photos/quad-fin.png" alt="quad fin set up">
    <p>same functionality as twin fin</p>
    <p>allow for easier pivoting since the gap between fins allow for water to channel = decreased turn resistance</p>
    <p>strong rail engagement and great hold</p>
  </div>
  </div>
