<main>
  <div class="images">
  <img src="photos/photo1.jpg" alt="Big Photo 1" class="bigPicture">
  <img src="photos/surfboard1.png" alt="Surf Board 1" class="boardPicture">
  <img src="photos/surfboard2.png" alt="Surf Board 2" class="boardPicture">
  <img src="photos/surfboard3.png" alt="Surf Board 3" class="boardPicture">
  <img src="photos/photo2.jpg" alt="Big Photo 2" class="bigPicture">
</div>
