<div class="slideMenu">
  <div class="headAndButton">
    <h1 class="menuHeader">Rocker</h1>
    <button class="closeButton"><img src="../_possible_photos/close-button.png" alt="close button"></button>
  </div>
  <div class="rocker">
    <div class="headAndCheck">
      <h2>more entry rocker</h2>
      <input type="radio" name="rocker" id="more-rocker">
    </div>    
    <img src="../photos/more-rocker.png" alt="surf rocker pic">
      <p>more manueverability</p>
      <p>better for steeper waves</p>
      <p>lifted nose = better turns</p>
  </div>
  <div class="rocker">
    <div class="headAndCheck">
      <h2>less entry rocker</h2>
      <input type="radio" name="rocker" id="less-rocker">
    </div>    
    <img src="../photos/less-rocker.png" alt="surf rocker pic">
      <p>more speed</p>
      <p>better paddle efficiency</p>
  </div>
</div>